.pageContainer {
  text-align: center;
  background-color: #93bfb9;
  height: 100vh;
}

#addInfoTitle {
  color: rgb(246, 246, 237);
  padding-top: 35px;
}
#addInfoSubtitle {
  font-size: 20px;
  margin-top: 15px;
  margin-bottom: 10px;
}

#formContainer {
  text-align: left;
  margin: 0 30px;
  padding: 10px 17px;
  background-color: rgb(246, 246, 237);
  border: 1px solid black;
  border-radius: 10px;
}

#typeInputContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.addInfoInput {
  border: 1px solid black;
  margin: 5px 0;
  width: 75vw;
  height: 35px;
  font-size: 25px;
}

#checkboxInputContainer {
  margin: 10px 0;
}

.checkBoxLabel {
  margin-bottom: 0;
  font-size: 25px;
  padding-left: 5px;
}
.checkBox {
  height: 20px;
  width: 20px;
  margin: 0 5px;
}

.addInfoSubmitButton {
  text-align: center;
  border: 1px solid black;
  font-size: 15px;
  padding: 6px 15px;
  background-color: #edc3c2;
  border-radius: 5px;
}

#contactAddedContainer {
  text-align: left;
  margin: 20px 30px;
  padding: 10px 17px;
  background-color: rgb(246, 246, 237);
  border: 1px solid black;
  border-radius: 10px;
}
.contactName {
  text-align: center;
  border: 1px solid black;
  font-size: 15px;
  padding: 6px 15px;
  background-color: #b0c2a9;
  border-radius: 5px;
  width: 100px;
  margin-top: 5px;
}

#soloFormContainer {
  text-align: left;
  margin: 20px 30px;
  padding: 10px 17px;
  background-color: rgb(246, 246, 237);
  border: 1px solid black;
  border-radius: 10px;
}

#soloEvent {
  font-size: 20px;
  margin-bottom: 10px;
}

#finishedContainer {
  text-align: left;
  margin: 20px 30px;
  padding: 10px 17px;
  background-color: rgb(246, 246, 237);
  border: 1px solid black;
  border-radius: 10px;
}
