/* Container for main wrapper */
#mapPageContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(77, 115, 77);
  text-align: center;
}

#mapTitle{
  color: rgb(246, 246, 237);
  padding-top: 40px;
  margin-bottom: 10px;
  font-size: 30px;
}
#mapSubtitle{
  width: 350px;
  font-size: 20px;
  margin-bottom: 15px;
}

/* Container for the map */
#mapContainer{
  border: 10px double rgb(246, 246, 237)
}

.leaflet-container {
  width: 75vw;
  height: 73vh;
  position: relative;
}

#newsTitle {
  margin-top: 17px;
  margin-bottom: 15px;

}
#articleContainer {
  border: 1px black solid;
  margin-bottom: 40px;
  padding: 10px;
  height: 220px;
  background-color: rgb(246, 246, 237);
  width: 85vw;
}


#articleLink{
 background-color: rgb(232, 208, 161);
 text-align: left;
 border: 1px solid black;
 font-size: 18px;
 border-radius: 2px;
 padding: 5px;
}