#eventContainer{
    text-align: center;
}
.eventInput{
    border: 1px solid black;
    margin: 5px 0;
    width: 75vw;
    height: 35px;
    font-size: 25px;
}

#eventSubmit{
    text-align: center;
    font-size: 20px;
    border: 1px solid black;
    margin-top: 10px;
    padding: 6px 15px;
    border-radius: 15%;
}

.eventLabel{
    font-size: 25px;
}

/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/* This calendar CSS only deals with the box and wrapper holding the calendar for all calendar CSS changes please visit the path /react-calendar/dist/Calendar.css in node_modules*/

#calendar-container {
    display: flex;
    height: 40vh;
    width: 40vh;
    position: relative;
    top: -12px;  
}

#calendar-wrapper {
    display: flex;
    justify-content: center;
    align-self: center;
    align-items: center;
    height: 55vh;
    width: 56vh;
}