#root{
  background-color: rgb(77, 115, 77);
  height: 100vh;
}
#addEventTitle{
  color: rgb(246, 246, 237)
}

#eventContainer {
  text-align: left;
  margin: 0 30px;
  padding: 10px 17px;
  background-color:  rgb(246, 246, 237)
}

.eventInput {
  border: 1px solid black;
  margin: 5px 0;
  width: 75vw;
  height: 35px;
  font-size: 25px;
  background-color: rgb(221, 221, 221);
}
::placeholder{
  color: black;
}

#eventSubmit {
  text-align: center;
  font-size: 20px;
  border: 1px solid black;
  margin-top: 10px;
  padding: 6px 15px;
}

.eventLabel {
  font-size: 25px;
}
