*,
*:after,
*:before {
  margin:0;
  padding:0;
  box-sizing:border-box;
}
/* ---------------------- Nav Bar -------------------------- */
.App{
  display: flex;
  justify-content: space-around;
  background-color: rgb(138, 119, 119);
  height: 5vh;
}
.navLinks{
  color: white;
  font-size: 20px;
  text-decoration: none;
}
.userLogin{
  color: white;
  font-size: 20px;
}

@media (max-width: 767px) {
  .navLinks {
    display: none;
  }
  .userLogin {
    display: none;
  }
  .App {
    background-color: white;
    height: 0vh;
  }
}

