
/* ---------------------- Nav Bar -------------------------- */
.App{
  display: flex;
  justify-content: space-around;
  background-color: rgb(138, 119, 119);
}
.navLinks{
  color: white;
  font-size: 20px;
  text-decoration: none;
}
.userLogin{
  color: white;
  font-size: 20px;
}

@media (max-width: 768px) {
  .navLinks {
    display: none;
  }
  .userLogin {
    display: none;
  }
  .App {
    background-color: white; 
  }
}

