
/* ---------------------- Nav Bar -------------------------- */
.App{
  display: flex;
  justify-content: space-around;
  background-color: rgb(138, 119, 119);
}
.navLinks{
  color: white;
  font-size: 20px;
}
.userLogin{
  color: white;
  font-size: 20px;
}


