#container {
  background-color: #93bfb9;
  height: 100vh;
  text-align: center;
  padding-top: 40px;
}
#titleContainer{
  padding-top: 35px;
  margin: 0 30px;
  margin-bottom: 20px;
  padding: 5px;
  background-color: rgb(246, 246, 237);
  border-radius: 5px;
  height: 30vh;
}
#sendAlertTitle {
  font-size: 25px;
  border-bottom: 1px solid black;
  padding-bottom: 5px;
}
#sendAlertSubtitle {
  font-size: 20px;
  margin-top: 5px;
}

.sendAlertButton {
  border: 1px black solid;
  margin-bottom: 10px;
  width: 250px;
  height: 100px;
  font-size: 37px;
  background-color: #173C54;
  border-radius: 5px;
  color: rgb(183, 159, 26);
  border: 1px solid black;
  margin-top: 40px;
}
#border{
  border-bottom: 20px double rgb(202, 202, 202);
  opacity: .7;
}
.returnButton {
  border: 1px black solid;
  margin-bottom: 60px;
  width: 320px;
  height: 100px;
  font-size: 30px;
  border-radius: 5px;
  background-color: #828272;
  color: white
}
