#pageContainer {
  text-align: center;
  background-color: #93bfb9;
  height: 120vh;
  margin: 0;
}
#signUpTitle {
  padding-top: 35px;
  margin-bottom: 15px;
}
#inputContainer {
  text-align: left;
  margin: 0 30px;
  padding: 10px 17px;
  background-color: rgb(246, 246, 237);
  border: 1px solid black;
  border-radius: 10px;
}
.newUserInput {
  border: 1px solid black;
  margin: 5px 0;
  width: 75vw;
  height: 35px;
  font-size: 25px;
}
#createAccountButton {
  text-align: center;
  border: 1px solid black;
  font-size: 15px;
  padding: 6px 15px;
  background-color: #edc3c2;
  border-radius: 5px;
  margin-top: 10px;
}

#cookiesContainer {
  text-align: left;
  margin: 15px 30px;
  padding: 10px;
  background-color: rgb(246, 246, 237);
  border: 1px solid black;
  border-radius: 10px;
}
#termContainer{
  margin: 5px 0;
}
#termsLabel{
  padding-left: 5px;
}

#cookiesTitle {
  font-size: 18px;
}
#cookiesSubtitle {
  margin-top: 3px;
}

#legalWording{
  text-align: left;
  margin: 0 30px;
  padding: 10px 17px;
  background-color: rgb(246, 246, 237);
  border: 1px solid black;
  border-radius: 10px;
}