#landingPageContainer{
  background-color: rgb(77, 115, 77);
  text-align: center;
}
.articleContainer {
  text-align: left;
  margin-bottom: 30px;
}
#landingPageTitle{
  color: rgb(246, 246, 237);
  padding-top: 35px;
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-bottom: 10px double rgb(246, 246, 237);
}

.individualArticleContainers{
  border: 1px black solid;
  margin: 10px;
  margin-bottom: 20px;
  padding: 10px;
  height: 35vh;
  background-color: rgb(246, 246, 237)
}
.newsTitle {
  margin: 0;
  margin-bottom: 8px;
  font-size: 22px;
  border-bottom: 2px solid black;
}
.newsText{
  font-size: 17px;
  padding-bottom: 10px;
  text-align: justify;
  text-justify: inter-word;
}

.continueReadingButton {
  color: rgb(246, 246, 237);
  border: 1px solid black;
  width: 160px;
  height: 30px;
  font-size: 17px;
  text-align: center;
  background-color: #42625d;
  border-radius: 3px;
  padding-top:3px;
}
.aTag{
  text-decoration: none;
}

