body{
    border: 1px black solid;
    height: 100vh;
  }
  
  /* ---------------------- Header -------------------------- */
  #headerTitle{
    text-align: center;
    margin: 0;
    padding-top: 30px;
    padding-bottom: 0;
    background-color: blueviolet;
    height: 10vh;
  }
  /* ----------------- Main Page Article Section -------------- */
  #articleContainer{
    background-color: cadetblue;
    padding: 10px;
  }
  /* individual article container, title, and button formatting */
  .individualArticleContainer{
    border: 1px solid black;
    height: 20vh;
    margin: 5px 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    
  }
  .continueReadingButton{
    background-color: white;
    justify-content: flex-end;
    
  }
  .newsTitle{
    margin: 0;
  }
  
  /* ----------------- Main Page Article Section -------------- */
  #footerContainer{
    text-align: center;
    padding-top: 20px;
    background-color: cornflowerblue;
    height: 15vh;
  }