/* ------------------ Mobile View */

@media (max-width: 768px) {
  #articleContainer{
    padding: 10px;
    height: 50vh;
    text-align: left;
  }
}
@media (max-width: 768px) {
  .continueReadingButton{
    background-color: white;
  }
}
@media (max-width: 768px) {
  .individualArticleContainer{
    border: 1px solid black;
    height: 50vh;
    margin: 5px 0;
    background-color: white;
  }
}
@media (max-width: 768px) {
  .newsTitle{
    margin: 0;
  }
}
@media (max-width: 768px) {
  .article-text {
    font-size: 14pt;
  }
}
@media (max-width: 768px) {
  .article-image {
    width: 10vw;
    height: 10vh;
  }
}
/* ------------------ Desktop View ----- */
@media (min-width: 770px) {
  
}
@media (min-width: 770px) {
 
}

