body{
  border: 1px black solid;
}

/* ---------------------- Header -------------------------- */
#headerTitle{
  text-align: center;
  margin: 0;
  padding-top: 20px;
  padding-bottom: 10px;
  background-color: rgb(216, 178, 252);
  height: 5vh;
}

/* ----------------- Main Page Article Section -------------- */
#articleContainer{
  background-color: rgb(199, 199, 199);
  padding: 10px;
  text-align: center;
}
/* individual article container, title, and button formatting */
.continueReadingButton{
  background-color: white;
}
.individualArticleContainer{
  border: 1px solid black;
  height: 20vh;
  margin: 5px 0;
  background-color: white;
}
.newsTitle{
  margin: 0;
}

/* ----------------- Main Page Article Section -------------- */


