#footerContainer {
  height: 35vh;
  width: 100vw;
  background-color: #93BFB9;
  color: white;
}
#contentContainer{
 display: flex;
 margin-top: 20px;
}

#footerTitle {
  background-color: #BF856D;
  width: 100vw;
  height: 30px;
  font-size: 25px;
  margin: 0;
}
.iconContainer {
  height: 8vh;
  width: 25vw;
}
.icon {
  height: 8vh;
  width: 18vw;
  margin-bottom: 5px;
}
#legalWords {
  margin-right: 20px;
  padding-top:2px;
  font-size: 14px;
  height: 115px;
  width: 60vw;
  color: black;
  background-color: rgb(246, 246, 237);
}

#footerFooterContent{
  display: flex;
  justify-content: space-between;
}
#copyright {
  margin-left: 20px;
  font-size: 8px;
  align-self: flex-end;
  color: black;
}
.address {
  margin-right: 20px;
}

.contactText {
  font-size: 13px;
  color: black;
  text-align: right;
}