#loginContainer {
  background-color: #93bfb9;
  height: 120vh;
  margin: 0;
  text-align: center;
}
#loginTitle {
  padding-top: 35px;
  margin-bottom: 15px;
}

#loginForm {
  text-align: left;
  margin: 0 30px;
  padding: 10px 17px;
  background-color: rgb(246, 246, 237);
  border: 1px solid black;
  border-radius: 10px;
}

.loginInput{
    border: 1px solid black;
    margin: 5px 0;
    width: 75vw;
    height: 35px;
    font-size: 25px;
    border-radius: 3px;
}

#signUpLink{
    text-decoration: none;
}

#signUpText{
    margin-top: 5px;
    color: black;
    font-size: 18px;
}
#forgotPasswordButton{
    font-size: 18px;
    margin: 0;
    margin-bottom: 10px;
}

#submitButton {
  text-align: center;
  border: 1px solid black;
  font-size: 18px;
  padding: 6px 10px;
  background-color: #edc3c2;
  border-radius: 5px;
}
