#profileContainer{
    margin: 10px;
}

#statusBox {
    background-color: rgb(18, 48, 129);
    color: white;
    font-weight: bolder;
    font-size: 19px;
    margin-right: 5px;
}

#eventListTitle {
    display: flex;

}

.profileDisplay{
    margin: 0;
    font-size: 17px;
    justify-self: flex-start;
}

#profileName{
    margin-bottom: 10px;
    font-size: 22px;
}

#eventListContainer {
    display: flex;
    height: 70vh;
    width: 99vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#eventListBox {
display: flex;
height: 55vh;
width: 78vw;
border: 1px solid red;
}


/* Buttons on the page*/

#signOut {

}

#updateInfo {
margin-left: 10px;
}

/* These buttons listed below are in a container*/
/* This is the Event buttons' container*/
#buttonContainer {
   display: flex;
   justify-content: center;
   position: relative;
   top: -20px;
}

.profileButtons {
    display: flex;
 }

#addEventButton {
text-align: center;
font-size: 14px;
padding: 4px 15px;
border-radius: 8px;
}

#updateEventButton {
text-align: center;
font-size: 14px;
padding: 4px 15px;
border-radius: 8px;
position: relative;
left: 15px;
}
/*User status buttons and container (Tested Positive//Feeling unwell)*/
#statusButtonContainer {
    display: flex;
    width: 99vw;
    height: 40vh;
    justify-content: space-evenly;
    flex-direction: column-reverse;
    align-items: center;
}

.statusButtons {
text-align: center;
font-size: 14px;
height: 9vh;
width: 40vw;
padding: 4px 16px;
border-radius: 8px;
}

#calendarTutorial {
    width: 98vw;
    margin-block-end: 0;
}

/* Calendar and it's container*/
#calendarWrapper {
    display: flex;
    height: 55vh;
    width: 99vw;
    justify-content: center;
    align-items: center;
}

#calendarContainer {
    display: flex;
    height: 48vh;
    width: 75vw;
    border: 1px solid green;
}

/*User's status*/
#currentStatus {
    text-align: start;
    height: 5vh;
    width: 99vw;
    border-bottom: 4px double rgb(202, 107, 18);
}