#profilePageContainer {
  background-color: #BF856D
}

#profileName {
  padding-top: 35px;
  margin-bottom: 10px;
  color: rgb(246, 246, 237);
  font-size: 35px;
  text-align: left;


  animation: fadeInAnimation ease-in-out 5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
  from {
    margin-left: -30%;
  }
  to {
    margin-left: 20px;
  }
}
#buttonContainer {
  display: flex;
  justify-content: space-around;
  margin: 20px;
  height: 50px;
}
.profileButtons {
  text-align: center;
  font-size: 15px;
  border: 1px solid black;
  margin-right: 10px;
}
/* Calendar and it's container*/
#calendarWrapper {
  display: flex;
  height: 45vh;
  width: 75vw;
  margin-left: 45px;
  padding: 0px;
}

#eventListTitle {
  text-align: center;
}
#eventListContainer {
  display: flex;
  height: 70vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(246, 246, 237);
  margin: 20px;
}

.statusButtons {
  text-align: center;
  font-size: 14px;
  height: 9vh;
  width: 40vw;
  padding: 4px 16px;
  border-radius: 8px;
}
